#nprogress .bar {
    height: 2px !important;
    color: white !important;
}

.ql-editor {
    min-height: 300px;
}

.featured-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.mark {
    background-color:#D5F3FE !important;
}

* {
    border-radius: 0 !important;
  }